/MySoapService/nbproject/private/
/MySoapService/target/
/AccidentDetection/target/
/AccidentDetection/nbproject/private/
/AccidentDetection/build/
/AccidentDetection/dist/
/CancerDetection/nbproject/private/
/CancerDetection/build/
/CancerDetection/dist/
